<div class="container loginbarContainer">
    <span class="iquserbar">
        <span class="iqusericon">
            <div class="iqusericonimage">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
            <div class="iqusericonname">
                Login
            </div>
        </span>
        <span class="iqblankspace">

        </span>
        <span class="iqorderbasket">
            <div class="iqusericonimage">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </div>
            <div class="iqusericonname">
                Orders
            </div>
        </span>
        <span class="iqblankspace">

        </span>
        <span class="iqshoppingcart">
            <div class="iqusericonimage" style="margin-left: 1px;">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="iqusericonname">
                Cart
            </div>
        </span>
        <span class="iqblankspace">

        </span>
    </span>
</div>