.fa {
    font-size: 25px !important;
    color: #f8f9fa !important;
}
.iquserbar {
    color: #f8f9fa !important;
    display: inline-flex;
    float: right;
}
.iqusericonimage {
    margin-left: 6px;
    /* margin-left: 26%; */
}
.iqusericonname {
    font-family: serif;
}
/* .iqblankspace {
    min-width: 30px;
} */
/* .loginbarContainer {
    top: 8px;
    position: fixed;
    right: 0;
    margin-top: 1%;
} */
.iqusericon:hover, .iqusericon.hover, 
.iqorderbasket:hover, .iqorderbasket.hover,
.iqshoppingcart:hover, .iqshoppingcart.hover {
	-webkit-transform: scale(1,1) translate3d(5%, 5%, -100px);
    -moz-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    position: relative;
    z-index: 2;
}

div {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}