<div class="container loginbarContainer col-3">
    <span class="iquserbar col-12">
        <span class="iqusericon col-3">   
            <div class="iqusericonimage col-12">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
            <div class="iqusericonname col-12">
                Login
            </div>
        </span>
        <span class="iqblankspace col-1">

        </span>
        <span class="iqorderbasket col-3">
            <div class="iqusericonimage col-12">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </div>
            <div class="iqusericonname col-12">
                Orders
            </div>
        </span>
        <span class="iqblankspace col-1">

        </span>
        <span class="iqshoppingcart col-3">
            <div class="iqusericonimage col-12" style="margin-left: 1px;">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="iqusericonname col-12">
                Cart
            </div>
        </span>
        <span class="iqblankspace col-1">

        </span>
    </span>
</div>