.app-container {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px){
  .app-container{
    width: 700px;
    margin: auto;
  }
}

@media screen and (min-width: 900px){
  .app-container{
    width: 90%;
    margin: auto;
  }
}