<div class="container searchbarContainer">
    <form [formGroup]="topbarLocationForm" (ngSubmit)="onSubmit()" class="form-group">
        <div class="iqlocationdiv">
            <span class="iqLocationSpanIcon">
                <i class="fa fa-street-view" aria-hidden="true"></i>
            </span>
            <span class="iqLocationSpanInput">
                <input type="text" id="iqLocationInput" class="iqLocationInput" formControlName="location" placeholder="Type your location here...">
            </span>
            <span class="iqLocationSpanButton">
                <button type="submit" class="btn btn-info">
                    <span>Detect</span>
                    <i class="fa fa-crosshairs myIcn" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </form>
    <span style="min-width: 20px;"></span>
    <div style="min-width: 600px;">
    <form [formGroup]="topbarSearchForm" (ngSubmit)="onSubmit()" class="form-group">
        <div class="iqsearchdiv">
            <span class="iqLocationSpanIcon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <span class="iqLocationSpanInput">
                <input type="text" id="iqSearchInput" class="iqSearchInput" formControlName="search" placeholder="Search here...">
            </span>
            <span class="iqLocationSpanButton">
                <button type="submit" [disabled]="!topbarSearchForm.valid" class="btn btn-info">
                    Search
                </button>
            </span>
        </div>
    </form>
</div>
</div>