<div class="container searchbarContainer col-12" 
     style="margin-top: 6%; margin-bottom: 2%;" id="topsearchbarcontainer">
    <div *ngIf="!showMinimalSearch" class="col-5">
        <form [formGroup]="topbarLocationForm" 
              (ngSubmit)="onSubmit()" 
              class="form-group">
            <div class="iqlocationdiv col-12" 
                 style="padding: 0; display: inline-flex">
                <div class="iqLocationSpanIcon iqLocationPadding col-1">
                    <i class="fa fa-street-view" aria-hidden="true"></i>
                </div>
                <div class="iqLocationSpanInput iqLocationPadding col-7">
                    <input type="text" 
                           id="iqLocationInput" 
                           class="iqLocationInput" 
                           formControlName="location" 
                           placeholder="Type your location here...">
                </div>
                <div class="iqLocationSpanButton iqLocationPadding col-3">
                    <button type="submit" 
                            class="btn btn-info" 
                            style="margin-top: 5%; width: 100%;">
                        <span style="width: 100%;">Detect
                            <i class="fa fa-crosshairs myIcn" 
                               aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- <span></span> -->
    <div class="col-7">
        <form [formGroup]="topbarSearchForm" 
              (ngSubmit)="onSubmit()" 
              class="form-group">
            <div class="iqsearchdiv col-9" 
                 style="padding: 0; display: inline-flex;">
                <div class="iqLocationSpanIcon iqLocationPadding col-1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="iqLocationSpanInput iqLocationPadding col-8">
                    <input type="text" 
                           id="iqSearchInput" 
                           class="iqSearchInput" 
                           formControlName="search" 
                           placeholder="Search here...">
                </div>
                <div class="iqLocationSpanButton iqLocationPadding col-2">
                    <button type="submit" 
                            [disabled]="!topbarSearchForm.valid" 
                            class="btn btn-info mysearchbtn">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>