<div class="container searchbarContainer col-12">
    <div class="col-5">
        <form [formGroup]="topbarLocationForm" (ngSubmit)="onSubmit()" class="form-group">
            <div class="iqlocationdiv col-12" style="padding: 0;">
                <span class="iqLocationSpanIcon iqLocationPadding col-1">
                    <i class="fa fa-street-view" aria-hidden="true"></i>
                </span>
                <span class="iqLocationSpanInput iqLocationPadding col-9">
                    <input type="text" id="iqLocationInput" class="iqLocationInput" formControlName="location" placeholder="Type your location here...">
                </span>
                <span class="iqLocationSpanButton iqLocationPadding col-2">
                    <button type="submit" class="btn btn-info iqLocationBtn">
                        <span>Detect</span>
                        <i class="fa fa-crosshairs myIcn" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <!-- <span></span> -->
    <div class="col-7">
        <form [formGroup]="topbarSearchForm" (ngSubmit)="onSubmit()" class="form-group">
            <div class="iqsearchdiv col-12" style="padding: 0;">
                <span class="iqLocationSpanIcon iqLocationPadding col-1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <span class="iqLocationSpanInput iqLocationPadding col-9">
                    <input type="text" id="iqSearchInput" class="iqSearchInput" formControlName="search" placeholder="Search here...">
                </span>
                <span class="iqLocationSpanButton iqLocationPadding col-2">
                    <button type="submit" [disabled]="!topbarSearchForm.valid" class="btn btn-info">
                        Search
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>