<div class="approotClass">
  <div class="container topContainer col-12">
    <div class="jumbotron topbar col-12">
      <div class="container logoContainer col-1">
        <img src="./assets/images/logo.png" class="rounded float-left insteadQLogo" alt="...">
      </div>
      <div class="container apptopbarContainer col-11">
        <app-topbar></app-topbar>
      </div>
    </div>
  </div>
  <div class="container bottomContainer col-12">
    <div class="container appsidebarContainer col-3">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>