<div class="approotClass">
  <div class="container topContainer col-12">
    <div class="jumbotron topbar col-12" style="display: inline-flex;">
      <div class="container logoContainer col-1" style="margin-top: 0.5%;">
        <img src="./assets/images/logo.png" class="rounded float-left insteadQLogo" alt="...">
      </div>
      <div class="container apptopbarContainer col-11">
        <app-topbar></app-topbar>
      </div>
    </div>
  </div>
  <div class="container bottomContainer col-12">
    <div class="container appsidebarContainer col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="container appHomeContainer col-9" style="margin-right: 0;">
      <app-home></app-home>
    </div>
  </div>
</div>