.topbar {
    /* background-color: #373538; */
    border-radius: 0;
    /* background-color: #122b3e; */
    /* background-color: #002d30; */
    background-color: #172035;
    /* background-color: #307686; */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /* padding: 10px; */
    /* background: white; */
    position: relative;
}
.jumbotron {
    min-height: 100%;
    max-height: 100%;
    margin-bottom: 0;
}
.insteadQLogo {
    /* position: fixed; */
    height: inherit;
    width: inherit;
    /* top: 0px; */
    /* left: 0px; */
}
/* .apptopbarContainer {
    /* position: fixed;
    top: 0;
    left: 0; 
    height: 30%;
} */
.appsidebarContainer {
    /* position: absolute;
    top: 29.8%;
    left: 0;
    max-height: 70%;*/
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
}
.approotClass {
    height: 100%;
    background-color: #f0e9ee;
    background-color: #569376;
    background-color: #64947C;
}
.bottomContainer {
    height: 70%;
}
.topContainer {
    height: 30%;
}
.logoContainer {
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.appHomeContainer {
    height: 90%;
    min-height: 90%;
    overflow-x: hidden;
    /* overflow-y: auto; */
    max-height: 100%;
    margin-right: 0;
    margin-left: 0;
    float: right;
    margin-top: 2%;
}
/* #style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}
#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;	
} */
#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}