.topbar {
    /* background-color: #373538; */
    border-radius: 0;
    /* background-color: #122b3e; */
    /* background-color: #002d30; */
    background-color: #172035;
    /* background-color: #307686; */
}
.jumbotron {
    min-height: 100%;
    max-height: 100%;
    margin-bottom: 0;
}
.insteadQLogo {
    /* position: fixed; */
    height: inherit;
    width: inherit;
    /* top: 0px; */
    /* left: 0px; */
}
/* .apptopbarContainer {
    /* position: fixed;
    top: 0;
    left: 0; 
    height: 30%;
} */
.appsidebarContainer {
    /* position: absolute;
    top: 29.8%;
    left: 0;
    max-height: 70%;*/
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
}
.approotClass {
    height: 100%;
}
.bottomContainer {
    height: 70%;
}
.topContainer {
    height: 30%;
}
.logoContainer {
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}