.floatingCart{
    margin-top: 86%;
    z-index: 1;
}
#sidedrawerId {
    z-index: 2;
}
.textcenter{
    text-align: center;
  }
.counterWrapper{
    border-width: 1;
    border-color: #417E27;
    border-radius: 4%;
}
.counterLabel{
    margin-left: 10;
    margin-right: 10;
    margin-top: 3;
}
.green-bg{
    background: #099E44;
    color: white;
}
.lightgreen-bg {
    background: #93CE7A ;
}
.green-text {
    color: #417E27
}
.pull-right {
    float: right;
}

.additional-info {
    color: rgb(182, 155, 35);
    font-size: 11px;
    padding: 4;
    padding-top: 2;
    padding-left: 10%;
}
.category-container{
    background: lightgray;
}
.category-card{
    padding: 12px;
    margin-bottom: 10px;
    background: white;
}
.food-item-name{
    font-weight: bold;
    color:rgb(24, 21, 21);
    font-size: 14;
    padding: 4;
    padding-bottom: 0;
}
.food-item-price{
    color:rgb(54, 54, 54);
    font-size: 12;
}
.food-price-container{
    padding-top: 4;
    padding-left: 5;
}
