.search-bar {
    font-size: 16px;
}
.kiosk-head{
    font-weight: bold;
    color:rgb(24, 21, 21);
    font-size: 18px;
}
.kiosk-info{
    font-size: 14px;
}
.kiosk-timing{
 color: rgb(145, 35, 35);
 font-size: 12px;
}
.kiosk-image {
    vertical-align: center;
}

.colored-layout{
    background: #ffffff;
}