<ActionBar title="InsteadQ" class="action-bar">
    <NavigationButton text="Menu" icon="res://ic_menu_white_24dp" (tap)="sideDrawer.toggle()" padding="0"></NavigationButton>

    <ActionItem android.position="actionBar">
        <Ripple rippleColor="#007DB8" (tap)="changeLocation()">
            <Label text="&#xf21d;" class="fa" fontSize="24" paddingRight="15" tap="Post"></Label>
        </Ripple>
    </ActionItem>
    <ActionItem android.position="actionBar">
        <Ripple rippleColor="#007DB8" (tap)="toggleFilters()">
            <Label text="&#xf1de;" class="fa" fontSize="24" paddingLeft="10" paddingRight="18" tap="Post"></Label>
        </Ripple>
    </ActionItem>
</ActionBar>

<ng-template #sideDrawerContent>
    <StackLayout class="sidedrawer-header">
        <Image class="sidedrawer-header-image" src="res://icon">
        </Image>
        <Label class="sidedrawer-header-brand" text="InsteadQ - The Food App">
        </Label>
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <ScrollView>
        <StackLayout orientation="vertical" class="sidedrawer-content">
            <Ripple rippleColor="#007DB8" (tap)="sideDrawer.navigate(router, [''])">
                <Label borderColor="#FFFFFF" class="sidedrawer-list-item-text borderless-btn fa" text="&#xf015;   Home">
                </Label>
            </Ripple>
            <Ripple rippleColor="#007DB8" (tap)="changeLocation()">
                <Label borderColor="#FFFFFF" class="sidedrawer-list-item-text borderless-btn fa" text="&#xf21d;   Change Location">
                </Label>
            </Ripple>
            <Ripple rippleColor="#007DB8" (tap)="toggleFilters()">
                <Label borderColor="#FFFFFF" class="sidedrawer-list-item-text borderless-btn fa" text="&#xf1de;    Filters">
                </Label>
            </Ripple>
            <Ripple rippleColor="#007DB8" (tap)="sideDrawer.navigate(router, ['/foodCart'])">
                <Label borderColor="#FFFFFF" class="sidedrawer-list-item-text borderless-btn fa" text="&#xf07a;    Food Cart">
                </Label>
            </Ripple>
            <Ripple rippleColor="#007DB8" (tap)="sideDrawer.navigate(router, ['/orders'])">
                <Label borderColor="#FFFFFF" class="sidedrawer-list-item-text borderless-btn fa" text="&#xf291;   Orders">
                </Label>
            </Ripple>
        </StackLayout>
    </ScrollView>
</ng-template>

<ng-template #mainPageContent>
    <StackLayout></StackLayout>
    <SearchBar width="100%" class="search-bar" hint="Search Dish name or Food Court" (loaded)="disableSearchFocus($event)" (textChange)="onSearchChange($event)"
        (clear)="onSearchClear($event)" (submit)="onSearchSubmit($event)"></SearchBar>
    <StackLayout>
        <ScrollView>
            <StackLayout>
                <StackLayout *ngFor="let kiosk of kiosks" orientation="vertical" class="list-group" backgroundColor="white" margin="3">
                    <Ripple rippleColor="#007DB8" (tap)="sideDrawer.navigate(router, ['/items','kiosk.id'])">
                        <GridLayout rows="*,*" columns="*, 4*">
                            <StackLayout row="0" col="0" verticalAlignment="center">
                                <Image width="100%" height="100%" class="img-rounded kiosk-image" stretch="fill" [src]="kiosk.imageURL"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="1" orientation="vertical" padding="3" paddingLeft="5">
                                <Label [text]="kiosk.name" class="kiosk-head" width="100%"></Label>
                                <Label [text]="kiosk.desc" class="kiosk-info" width="100%"></Label>
                                <Label [text]="kiosk.cousines" class="kiosk-info" width="100%"></Label>
                                <Label [text]="kiosk.subLocation" class="kiosk-info" width="100%"></Label>
                            </StackLayout>
                            <StackLayout row="1" col="0" colspan="2" orientation="vertical" paddingTop="3" paddingLeft="8">
                                <Label [text]="kiosk.timings" class="kiosk-info kiosk-timing" width="100%"></Label>
                            </StackLayout>
                        </GridLayout>
                    </Ripple>
                    <StackLayout class="hr-light m-5"></StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</ng-template>


<AbsoluteLayout width="100%">
    <RadSideDrawer #sidedrawerId [transition]="drawerTransition" width="100%" height="100%" [style.zIndex]="radSDzIndex">
        <StackLayout tkDrawerContent class="sidedrawer-left">
            <ng-container *ngTemplateOutlet="sideDrawerContent"></ng-container>
        </StackLayout>
        <StackLayout tkMainContent>
            <ng-container *ngTemplateOutlet="mainPageContent"></ng-container>
        </StackLayout>
    </RadSideDrawer>
    <StackLayout *ngIf="showFilters" (tap)="toggleFilters()" style.zIndex="5" height="100%" width="100%">
    </StackLayout>
    <StackLayout *ngIf="showFilters" shadow="20"  style.zIndex="6" height="80%" width="80%" class="hover-layout colored-layout" orientation="vertical">
        <StackLayout>
                <filter-widget></filter-widget>
        </StackLayout>
            
        <!-- <ng-container *ngTemplateOutlet="FilterMenu"></ng-container> -->
    </StackLayout>
</AbsoluteLayout>

<ng-template #FilterMenu>
        <filter-widget></filter-widget>
</ng-template>