.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* @media only screen and (max-width: 1300px) {
    [class*="col-"] {
        width: 100% !important;
        display: block !important;
    }
} */

        /* min-width: 100% !important; */
/* @media only screen and (max-width: 640px), 
       only screen and (-webkit-device-pixel-ratio: 2) and (max-width: 740px), 
       only screen and (-webkit-device-pixel-ratio: 3) and (max-width: 740px) {
           
        body {
            overflow-y: visible !important;
            overflow-x: hidden !important;
        }
        [class*="col-"] {
            width: 100% !important;
            /* display: block !important; */
       /* }
       } */
@media only screen and (max-width: 992px) and (min-width: 0px) {
    body {
        overflow-y: visible !important;
        overflow-x: visible !important;
    }

    [class*="col-"] {
        width: 100% !important;
        max-width: 100% !important;
        display: block !important; 
        margin: 0 !important;
        padding: 2% !important;
        position: relative !important;
        line-height: 1;
    }
    .mysearchbtn {
        margin: 0 !important;
        width: 100% !important;
    }
    .insteadQLogo {
        display: none;
    }
    .iquserbar {
        display: inline-flex !important;
    }
    /* .iqusericonimage {
        margin-left: 1px !important;
    }
    .iqusericonimage {
        margin-left: 6px !important;
    } */
    .logoContainer {
        display: none !important;
    }
    /* .logincontainerdisplay {
        margin-left: 5% !important;
    } */
    .iqLocationSpanIcon {
        display: none !important;
    }
    .sidebarfiltericon {
        display: none !important;
    }
    .sidebarvegonlylabel {
        margin-left: 0 !important;
    }
    .myIcn {
        display: none !important;
    }
}
/* @media only screen and (max-width: 1200px) and (min-width: 769px) {
    [class*="col-"] {
        padding: 1% !important;
    }
} */
/* @media only screen and (max-width: 992px) and (min-width: 769px) {
    .mysearchbtn {
        width: 110% !important;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 993px) {
    .myIcn {
        display: none !important;
    }
    .mysearchbtn {
        width: 100% !important;
    }
} */
