.sidebar-container {
    /* border: 1px solid green; */
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    color: #5B5B5B;
    position: relative;
    top: 0px;
}

.section-content {
    text-align: justify;
}
.sidebar-container{
    padding: 10px;
}
.sidebar-container .section-title{
    font-size: 20px;
    color: #007DB8;
    font-weight: bold;
    padding-bottom: 15px;
}
.sidebar-container .sidebar-section{
    margin-bottom: 15px;
    /* -webkit-box-shadow: -1px 4px 22px 3px #bbbbbbf2; */
    /* box-shadow: -1px 4px 22px 3px #bbbbbbf2; */
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e8e8e852
}
.rating-line .rating-star{
    padding: 1.5px;
}
.about-content, .edu-content{
    font-size: 15px;
    white-space: pre-line;
}
.rating-line{
    display: flex;
    padding-bottom: 3px;
}
.rating-line .rating-title, .secondary-container .secondary-item{
    max-width: 50%;
    min-width: 50%;
    margin-right: 5px;
    font-size: 15px;
    font-variant: small-caps;
    
}
.secondary-container .secondary-item{
    padding-bottom: 7px;
}
.rating-line .rating-stars{
    color: #007DB8;
}

@media screen and (min-width: 480px){
    .sidebar-container{
        max-width: 36%;
        min-height: 80vh; 
        order: 1;
    }
}
@media print and (min-width: 480px){
    .sidebar-container{
        max-width: 38%;
        max-height: 60%;
        order: 1;
    }
}